body{
  margin: 0;
  height:100%;
  min-height: 100%;
  position:relative;
}
html { height: 100%; }
#canvas {
  position: absolute;
  top: 50%;
  bottom: 56px;
  overflow: auto;
  width: 100%;
  text-align: center;
}
#footer{
  background: black;
  display: block;
  height: 80px;
}
#toolbarspanText{
  font-size: 35px;
  color: white;
  padding-left: 50px;
  font-family: 'Roboto', sans-serif;
}
